header{
    background: #d1c893;
    padding: 20px 0;/*20 px superior e inf y 0 en laterales*/
}

.caja{
    width: 940px; /*70% de la pantalla*/
    position: relative;
    margin: 0 auto;/*navegador calcula automatica/ 
    en funcion de que etse centralizado */
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;/*quitar bloqueo y poner elementos al lado*/
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;/*mayuscula*/
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;/*quitar subrayado*/
}

nav a:hover{
    color: #58543f;/*Captura un evento: Cambiar a otro color cuando el mouse este alli*/
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{/*Clase que se refiere a los elementos de la lista*/
    display: inline-block;
    text-align: center;
    width: 30%;/*90% distribuido en los elementos y el 10% entre ellos*/
    vertical-align: top;
    margin: 0 1.5%;/*0 en vertical 1.5% en laterales*/
    padding: 30px 20px;
    box-sizing: border-box;/*el borde de las cajas será el limite del espacio que sera definido, 
    van a ser contabilizados los pixeles dentro de nuestro 30% de ancho */
    border: 2px solid #58543f;/*simplifico el ancho, estilo y color*/
    /*border-radius: 10px 25px 40px 50px;superior e inferior derecho e izq*/
    border-radius: 10px;
}

.productos li:hover{
    border-color: #d1c893;
}

.productos li:active{
    border-color: #0e62fd;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.productoDescr{
    font-size: 18px;
}

.productoPrecio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(img1/bg.jpg);
    padding: 40px;
}

.copy{
    color: #FFFFFF;
    font-size: 13px;/*por default es 16px*/
    /*https://symbl.cc/en/00A9/ para buscar el copyright symbol se usa entidad y se pone en el html*/
    margin: 20px;
}

main{
    width: 940px;
    margin:0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.inputpadron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-weight: bold;
    color: #FFFFFF;
    background-color: orange;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer; /*cambia a la manita para seleccionar*/
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.20);
}

table{
    margin: 40px 40px;
}

thead{
    background: #58543f;
    color: #FFFFFF;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}